.larger {
      font-size: 130%;
  }

.modal-header {
    background-color: #091D3C;
    color: #D3D6E1;
    width: 100%;
}

 .btn-form {
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid #091D3C;
    background-color: transparent;
    color: #091D3C;
}

.btn-form:hover {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid  #091D3C;
    background-color: #091D3C;
    color:  #D3D6E1;
}

textarea {
    resize: none;
}


