.my-btn {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid #091D3C !important;
    background-color: transparent !important;
    color: #091D3C !important;
}

.my-btn:hover {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid  #091D3C !important;
    background-color: #475283 !important;
    color:  #D3D6E1 !important;
}

.my-select-panel-class {
    width:100%;
    font-size: 3;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #091D3C !important;
 }

 ::ng-deep.mat-form-field-underline {
    color: #091D3C !important;
} 

::ng-deep.mat-form-field-ripple {
    color: #091D3C !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #091D3C !important;
  }
  
  .matselect-placeholder::mat-select-placeholder { 
    color: #091D3C;
    opacity: 1; 
   }

::ng-deep .mat-input-element {
    color: #091D3C !important;
}
 
  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    color: #091D3C !important;
  }

::ng-deep.input.mat-input-element {
    color: #091D3C !important;
  }

::ng-deep.mat-form-field-empty.mat-form-field-label {
    color: #091D3C !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #091D3C !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #091D3C !important;
}

::ng-deep.mat-form-field-underline {
    color: #091D3C !important;
}

::ng-deep.mat-form-field.mat-focused {
    color: #091D3C !important;
}

::ng-deep.mat-list-item.active {
    color: #091D3C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0.5 !important;     /*click effect color change*/
    background-color: #091D3C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #475283 !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #091D3C!important; /*outer ring color change*/
}