.jumbotron{
    background: linear-gradient(to bottom, #25326a 63%, #050002 95%);
     color:white !important;
     height:30rem;
     margin:0 !important;
 }

h1 {
    font-size: 6rem;
}

.table-header {
    color: white;
    background-color: #050002;
}

th {
    font-size: 1.5rem;
}

td {
    font-size: 1.2rem;
}

th {background-color: #050002;color: white;}

/*  #1c27578f */
tr {text-align: left;}
tr:nth-child(even) {background-color: #1c27578f;}
tr:nth-child(odd) {background-color: #475283;}

.table-header {
    color: white;
    background-color: #050002;
}

.btn-add {
    font-size: 1.7rem;
    border-radius: 12px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.btn-edit {
    border: 2px solid #25326a;
    background-color: #25326a;
    color: white;
}

.btn-hide {
    border: 2px solid #25326a;
    background-color: #25326a;
    color: white;
}

.btn-hide:hover {
    border: 2px solid white;
    background-color: #df136f;
    color: white;
}

.btn-edit:hover {
    border: 2px solid white;
    background-color: #df136f;
    color: white;
}

.btn-add:hover {
    font-size: 1.7rem;
    border-radius: 12px;
    border: 2px solid #df136f;
    background-color: #df136f;
    color: white;
}

::ng-deep .mat-sort-header-arrow {
    color: #df136f;
}