<div class="larger">
  <div class="modal-header">
    <h3 class="modal-title">Edit User</h3>
  </div>
  <form class="container-fluid" [formGroup]="usersEditForm">
    <div class="modal-body">
      <mat-form-field appearance="outline"  >
          <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline"  class="form-element">
          <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline"  class="form-element">
          <mat-label>Email</mat-label>
        <input matInput placeholder="Email address" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline"  class="form-element">
          <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phone">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline"  color="primary">
        <mat-label>{{this.value}}</mat-label>
        <mat-select formControlName="role" matInput placeholder="Select role" (selectionChange)="selectedRole($event)">
          <mat-option *ngFor="let role of roles" [value]="role.role_id_pk">
            {{role.role_type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <div class="btn-group" role="group" aria-label="Basic example">
          <div class="form-group">
            <button class="btn btn-form" (click)="onSubmit(usersEditForm.value)" >Save</button>
          </div>
          <div class="form-group">
            <button class="btn btn-form" (click)="onCancelClick()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>