h1 {
    font-size: 6rem;
}

.myHead {
    height: 25rem;
}

.my-btn {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid #091D3C;
    background-color: transparent;
    color: #091D3C;
}

.my-btn:hover {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid  #091D3C;
    background-color: #475283;
    color:  #D3D6E1;
}

.action-btn {
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border: 2px solid #091D3C;
    background-color: transparent;
    color: #091D3C;
}

.info-var {
    padding: 1rem;
    color: #091D3C;
    background-color: #D3D6E1;
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 100%;
 }
 
 .card-text-style {
    font-family: helvetica;
    font-size: 3rem; 
    color:#091D3C
 }

.action-btn:hover {
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border: 2px solid #091D3C;
    background-color: #475283;
    color: #D3D6E1;
}

::ng-deep.mat-sort-header-arrow {
    color: #D3D6E1;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:#091D3C;
}

.categories-title {
    border-radius: 0px 10px 40px 0px;
    text-align: left; 
    width: 20%;
    height: 5rem;
    background-color: #091D3C;
}

.categories-menu {
    border-radius: 15px 50px 30px 5px; 
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 9rem;
    background-color: #D3D6E1;
}

.info-var {
    padding: 1rem;
    color: #091D3C;
    background-color: #D3D6E1;
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 100%;
}

.small-content {
    margin-left: 1rem;
    color: #091D3C;
    background-color: #D3D6E1;
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 40%;
    padding: 1rem 1rem 1rem 2rem;
}

.radio-style {
    margin-left: 5rem !important;
    font-size: 3rem;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0.5 !important;     /*click effect color change*/
    background-color: #091D3C !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #475283 !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #091D3C !important; /*outer ring color change*/
}


::ng-deep .mat-focused .mat-form-field-label {
    color: #D3D6E1 !important;
 }

 ::ng-deep.mat-form-field-underline {
    color: #D3D6E1 !important;
} 

::ng-deep.mat-form-field-ripple {
    color: #D3D6E1 !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D3D6E1 !important;
  }
  
  ::ng-deep .matselect-placeholder::mat-select-placeholder { 
    color: #D3D6E1;
    opacity: 1; 
   }

::ng-deep .mat-input-element {
    color: #D3D6E1 !important;
}
 
  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    color: #D3D6E1 !important;
  }

::ng-deep.input.mat-input-element {
    color: #D3D6E1 !important;
  }

::ng-deep.mat-form-field-empty.mat-form-field-label {
    color: #D3D6E1 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #D3D6E1 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #D3D6E1 !important;
}

::ng-deep.mat-form-field-underline {
    color: #D3D6E1 !important;
}

::ng-deep.mat-form-field.mat-focused {
    color: #D3D6E1 !important;
}

::ng-deep.mat-list-item.active {
    color: #D3D6E1 !important;
}