<div class="background">
  <div class="assignment-menu">
    <div class="assignment-title">
      <h1 style=" padding-top: .5rem; text-align: center; font-family: helvetica; font-size: 3rem; color:  #D3D6E1">
        Technician Assignments </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="info-var">
        <h1 class="card-text-style "> Navigate</h1>
        <br>
        <div style="margin-left: 10rem;">
          <app-navigate [navigate]="nav">
          </app-navigate>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="info-var text-center">
        <h1 class="card-text-style"> Technicians </h1>
        <h2 class="card-text-style ">
          {{techCount}}
        </h2>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="info-var text-center">
        <h1 class="card-text-style "> Count </h1>
        <h2 class="card-text-style ">
          {{catCount}}
        </h2>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="info-var text-center">
        <h1 class="card-text-style "> Active : {{activeCatCount}} </h1>
        <br>
        <h2 class="card-text-style ">
          Inactive : {{inactiveCatCount}}
        </h2>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container-fluid">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{this.value}}</mat-label>
      <mat-select (selectionChange)="selectedTech($event)">
        <mat-option *ngFor="let tech of technicians" [value]="tech.user_id_pk">
          {{tech.firstname}} {{tech.lastname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <div *ngIf="id !=null" class="container-fluid">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{this.value}}</mat-label>
      <mat-select (selectionChange)="selectedCat($event)">
        <mat-option *ngFor="let cat of categories" [value]="cat.category_id_pk">
          {{cat.category_type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class="btn add-btn" (click)="createAssigned()">
      Assign new
    </button>
  </div>
  <div class=" myTable">
    <div *ngIf="id !=null">
      <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="assigned" class="mat-elevation-z8">
        <ng-container matColumnDef="id_category_pk_fk">
          <th mat-header-cell *matHeaderCellDef> Categories ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id_category_pk_fk}} </td>
        </ng-container>
        <ng-container matColumnDef="category_type">
          <th mat-header-cell *matHeaderCellDef> Categories Assigned</th>
          <td mat-cell *matCellDef="let element"> {{element.category_type}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="removeCategoryAssigned(element.id_user_pk_fk, element.id_category_pk_fk)"
              class=" btn remove-btn">
              remove
            </button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <br>
  <table-pagination *ngIf="assignedCount != null" (page)="promiseForTbl($event)" [itemsTotal]="assignedCount"
    [pageSize]="pSize"> </table-pagination>
</div>