@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h1 {
    font-size: 5rem;
}

.login-title {
    border-radius: 0px 10px 40px 0px;
    text-align: left; 
    width: 20%;
    height: 5rem;
    background-color: #091D3C;
}

.login-menu {
    border-radius: 15px 50px 30px 5px; 
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 9rem;
    background-color: #D3D6E1;
}

.info-create {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 50rem;
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    background-color: #D3D6E1;
    box-shadow: 5px 10px rgba(9, 29, 60, 0.726);
 }

 .btn-form {
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid #091D3C;
    background-color: transparent;
    color: #091D3C;
  }
  
  .btn-form:hover {
    font-size: 2rem;
    border-radius: 12px;
    border: 2px solid  #091D3C;
    background-color: #475283;
    color:  #D3D6E1;
  }
  

 ::ng-deep .mat-focused .mat-form-field-label {
    color:  #091D3C !important;
 }
 
 ::ng-deep.mat-form-field-underline {
    color:  #091D3C !important;
 } 
 
 ::ng-deep.mat-form-field-ripple {
    color:  #091D3C !important;
 }
 
 ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color:  #091D3C !important;
  }
  
  .matselect-placeholder::mat-select-placeholder { 
    color:  #091D3C;
    opacity: 1; 
   }
 
 ::ng-deep .mat-input-element {
    color: #091D3C !important;
 }
 
  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    color:  #091D3C !important;
  }
 
 ::ng-deep.input.mat-input-element {
    color:  #091D3C!important;
  }
 
 ::ng-deep.mat-form-field-empty.mat-form-field-label {
    color:  #091D3C !important;
 }
 
 ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:  #091D3C!important;
 }
 
 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #091D3C !important;
 }
 
 ::ng-deep.mat-form-field-underline {
    color: #091D3C!important;
 }
 
 ::ng-deep.mat-form-field.mat-focused {
    color: #091D3C !important;
 }
 
 ::ng-deep.mat-list-item.active {
    color: #091D3C !important;
 }