h1 {
    font-size: 7rem;
    text-align: center;
    color: #091D3C;
}
 
h2 {
    font-size: 3rem;
    text-align: center;
    color: #091D3C;
}

h3 {
    font-size: 2rem;
    text-align: center;
    color: #091D3C;
}

.menu-tool {
    margin-top: 3rem;
    padding-top: 3rem;
    font-family: helvetica;
    width: 100%;
    height: 100%;
    background-color: #D3D6E1;
    color: #091D3C;
    display: flex;
    flex-direction: column;
    border: 5px solid #091D3C;
}

p {
    text-align: center;
}

div.customCard {
    margin: 1rem;
    box-shadow: none;
    background-color: transparent;
    border: 5px solid #091D3C;
    width: 100%;
}

div.customCard2 {
    margin: 1rem;
    box-shadow: none;
    background-color: #D3D6E1;
    border: 6px solid #091D3C;
}


h5 {
    color: #091D3C;
    font-weight: bold;
    font-size: 2.5rem;
}

p,i {
    color: #475283;
    font-weight: bold;
    font-size: 1.5rem;
}

.heading-toola {
    padding-top: 3rem;
}

.home-menu {
    border-radius: 15px 50px 30px 5px; 
    border-color: #091D3C;
    border-style: solid;
    border-width: 5px;
    width: 100%;
    height: 9rem;
    background-color: #D3D6E1;
}

.home-title {
    border-radius: 0px 10px 40px 0px;
    text-align: left; 
    width: 20%;
    height: 5rem;
    background-color: #091D3C;
}
